body {
    padding: 0px;
    margin : 0px;
    font-family: Hack, monospace;
    background: #1b0b3c;
    --primary: #3c81ff;
}

#head {
    padding: 30px 0px 30px 0px;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    color: var(--primary);
}

#bodayy {
    padding: 0px 0px 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#canvas {
    background: #05032d;
    outline: 5px solid #82aeff;
    overflow: scroll;
    height: 500px;
    width: 700px;
}

#options {
    display: flex;
    padding: 0px 0px 30px 0px;
}

#controls {
    padding: 2030 40px 20px 40px;
    text-align: center;
    outline: 5px solid pink;
}

#controls form {
    display: flex;
    flex-direction: column;
}

#controls label {
    display: block;
    padding: 10px 0px 10px 0px;
}

#footer {
    padding: 20px 0px 20px 0px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: var(--primary);
}

.btn {
    position: relative;
    background: #9e92ff;
    font-weight: bold;
    padding: 10px;
    margin: 0px 30px 0px 30px;
    color: white;
    border: 3px solid #d26ef3;
    box-shadow: 4px 4px blueviolet;
    cursor: pointer;
    text-align: center;
}

.btn:active {
    top: 4px;
    box-shadow: none; 
}

.block {
    position: absolute;
    overflow: scroll;
    top: -600px;
    height: 500px;
    width: 500px;
    background: #82aeff;
    outline: 5px solid #9e92ff;
}

.title {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.container {
    margin: 30px;
    display: flex;
    flex-direction: column;

}

.container > div {
    margin: 10px;
}

.active {
    background: #4bd669;
    border: 3px solid #43ab43;
    box-shadow: none; 
}

.x {
    position: relative;
    cursor: pointer;
    top: 10px;
    left: calc(475px - 1rem);
    font-size: 2rem;
}

.options-body {
    display: flex;
    justify-content: center;
}

.slideIn {
    animation: slideIn 0.2s ease forwards;
}

.slideOut {
    animation: slideOut 0.2s ease forwards;
}

@keyframes slideIn {
    from {
        top: -600px;
    }
    to {
        top: calc(50vh - 250px);
    }
}

@keyframes slideOut {
    from {
        top: calc(50vh - 250px); 
    }
    to {
        top: -600px;
    }
}

/* From MDN docs, https://developer.mozilla.org/en-US/docs/Learn/Forms/Your_first_form */
form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    text-align: center;
    padding: 10px;
    /* Form outline */
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0px;
    margin-bottom: 10px;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    font-weight: bold;
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input, 
  textarea {
    width: 300px;
    font-family: Hack, monospace;
    font-size: 0.8rem;
    box-sizing: border-box;
    border: 2px solid black;
    padding: 5px;
  }
  
  input:focus, 
  textarea:focus {
    /* Additional highlight for focused elements */
    border: 3px solid black;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }